.navbar-dark {
    background-color: black;
}

.container-fluid {
    background-color: royalblue;
    padding: 70px 30px 70px 30px;
    height: 350px;
}

.row-header {
    margin: 0px auto;
}

body {
    padding: 50px 0px 0px 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: royalblue;
    border-radius: 10px;
    border: 1px;
    min-width: 144px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: royalblue;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    color: royalblue;
  }
  
  .dropdown:hover .dropbutton {color: black;}

  button {
    border: none;
    background: royalblue;
    padding: 12px 30px;
    border-radius: 0px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: none;
  }
  
  button:hover {
    cursor: pointer;
    color: darkblue;
    transition: none;
  }

  span {
    color: royalblue;
  }

  ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  
  }
  
  .nav-tem ul li a:hover {
    color: royalblue;
    transition: none;
  }